@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* Made edits to override bootstrapCss here beacuse if edits were made in bootstrap.min.css they might be overwritten in future bootstrap updates.*/

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }



/* ***************** Bootstrap overrides ***************** */

/* EventSphere purple */
.btn-primary {
    color: #fff;
    /*background-color: #0d6efd;*/
    background-color: #5e3ae0;
    /*border-color: #0d6efd*/
    border-color: #5e3ae0;
}

    .btn-primary:hover {
        color: #fff;
        /*background-color: #0b5ed7;*/
        background-color: #4b2db5;
        /*border-color: #0a58ca*/
        border-color: #4b2db5
    }

    .btn-check:focus + .btn-primary, .btn-primary:focus {
        color: #fff;
        /*background-color: #0b5ed7;*/
        background-color: #644cb3;
        /*border-color: #0a58ca;*/
        border-color: #644cb3;
        box-shadow: 0 0 0 .25rem rgba(49,132,253,.5)
    }

    .btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        /*background-color: #0a58ca;*/
        background-color: #644cb3;
        /*border-color: #0a53be*/
        border-color: #644cb3
    }

        .btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus {
            /*box-shadow: 0 0 0 .25rem rgba(49,132,253,.5)*/
            box-shadow: 0 0 0 .25rem rgba(94,58,224,.5)
        }

    .btn-primary.disabled, .btn-primary:disabled {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd
    }


.btn-outline-primary {
    color: #4b2db5;
    border-color: #5e3ae0
}

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #5e3ae0;
        border-color: #4b2db5
    }

    .btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
        box-shadow: 0 0 0 .25rem rgba(94,58,224,.5)
    }

    .btn-check:active + .btn-outline-primary, .btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
        color: #fff;
        background-color: #5e3ae0;
        border-color: #4b2db5
    }

        .btn-check:active + .btn-outline-primary:focus, .btn-check:checked + .btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus {
            box-shadow: 0 0 0 .25rem rgba(94,58,224,.5)
        }

    .btn-outline-primary.disabled, .btn-outline-primary:disabled {
        color: #5e3ae0;
        background-color: transparent
    }


.bg-eventsphere {
    background: linear-gradient(270deg, #5236ab 0%, #e41937 90%); /* Set the gradient as the background */
}

.bg-primary {
    background-color: #5e3ae0 !important
}

.border-eventsphere {
    /*border: 3px solid #dee2e6 !important;*/
    /* border-radius: 1rem !important;
    border-style: solid !important;
    border-image: linear-gradient(to right, #5236ab, #e41937) !important;
    border-image-slice: 1 !important;*/
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to left, #5236ab, #e41937);
    border-image-slice: 1;
}

.text-primary {
    color: #5e3ae0 !important
}

.full-height { /* Used for covering the page with a white background from top to bottom, not a perfect solution */
    min-height: 85vh;
}


.list-group-item-action:focus, .list-group-item-action:hover { /* Changes the effect of hover on item in list-group */
    z-index: 1;
    color: black;
    /*color: #495057;*/
    /*background-color: #f8f9fa*/
    background-color: #e8edff
}

.list-group-item-action-underline:focus, .list-group-item-action-underline:hover { /* Changes the effect of hover on item in list-group */
    z-index: 1;
    text-decoration: underline;
    color: black;
    /*color: #495057;
    background-color: #f8f9fa*/
}

.table-light {
    --bs-table-bg: #ffffff;
    /*--bs-table-striped-bg: #ecedee;*/
    --bs-table-striped-bg: #e8edff;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #dfe0e1;
    --bs-table-active-color: #000;
    /*--bs-table-hover-bg: #e5e6e7;*/
    --bs-table-hover-bg: #9a8fff;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #dfe0e1
}

.accordion-button.striped-1 {
    background-color: #e8edff;
}

.accordion-button.striped-2 {
    /*background-color: #dfe0e1; */
    background-color: white;
}

.accordion-button:hover {
    background-color: #9a8fff;
    color: #000; /* Optional: change text color */
    transition: background-color 0.3s ease;
}
